@model ASPDOTNETENTITYFrameworkHWK.RentedCar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentedCar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentedCarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentedCarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
